<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scanned Code Info</title>
</head>
<body>
  <h1>Scanned Code Details</h1>
  <div>
    <p><strong>Code Details:</strong></p>
    <pre><%= JSON.stringify(code, null, 2) %></pre> <!-- Print out the result data -->
  </div>
</body>
</html>
